@import "../Sidebar/Sidebar.module";

.CategoryNavbar {
  //display: flex;
  //justify-content: center;
  width: 100%;
  //align-items: center;
  padding: 16px;
  background: #efeef6;
}

@media (min-width: 992px) {
  .CategoryNavbar {
      display: none;
  }
}

.CategoryNavbar__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
