@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

.sidebar {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 45px;
  background: #efeef6;
  position: sticky;
  top: 16px;
  left: 0;
  transition: transform 1s ease;
}

.sidebar__links {
  @include flex-col;
  align-items: center;
  width: 100%;
  gap: 23px;
  overflow: hidden;
}

.sidebar__link {
  //@include scale;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: $text-gray;

  a {
    color: var(--text-gray, #5C6A79);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    text-transform: capitalize;
  }
  &::before {
    vertical-align: middle;
    margin-right: 14px;
    display: inline-block;
    content: " ";
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }

  &__active {
    @extend .sidebar__link;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $text-black;
  }

  &__active a {
    color: var(--text-black, #1C2A39);
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
  }
  &__active::before {
    background: #756ad3;
  }
}


@media (max-width: 1120px) {
  .sidebar {
    padding: 15px;
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .sidebar {
      display: flex;
  }
}

@media (max-width: 750px) {
  .sidebar {
    align-items: center;
  }
}